.el1{
    color: royalblue;
    font-size: 25px;
}
.el2{
    color: rgb(223, 15, 0);
    font-size: 15px;
}
.el3{
    color: slateblue;
    font-size: 40px;
}
.el4{
    color: teal;
    font-size: 60px;
}
.el5{
    color: rgb(255, 0, 234);
    font-size: 40px;
}