h1{
    font-size: 35px;
    text-align: center;
}
h2{
    font-size: 23px;
    margin: 18px;
}
.d1{
    height: 200px;
    width: 600px;
    margin: 5px;
    background-color: rgb(112, 210, 255);
    transition: margin-left 4s;
}
.d2{
    height: 180px;
    width: 600px;
    margin: 5px;
    background-color: rgb(112, 210, 255);
    flex-direction: row;
}
#k2{
    height: 130px;
    width: 130px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #ffc1c1;
    float: left;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}
img{
    height: auto;
    width: 100%;
}
.d3{
    height: auto;
    width: 100%;
    margin: 5px;
    flex-direction: row;
}
#p3{
    height: 180px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}
.d4{
    height: 700px;
    width: 100%;
    float: left;
    flex-direction: column;
}
#p4{
    height: 150px;
    width: 300px;
    float: left;
    margin: 8px;
}
.m{
    float: left;
    flex-direction: row;
}
p{
    margin: 10px;
}