.content{
    display: flex;
}
.card{
    height: 550px;
    width: 350px;
    margin: 20px;
    border-radius: 10%;
    box-shadow: 3px 3px 1px 1px rgb(204, 204, 204);
}
.card:hover{
    height: 555px;
    width: 340px;
}
img{
    height: 330px;
    width: 300px;
    padding: 10px;
}


.many{
    height: 25px;
    width: 89px;
    background-color: rgb(208, 228, 33);
    border-radius: 10%;
    text-align: center;
}
.btn{
    float: right;
}
.inf{
    justify-content: space-around;
}